*,
input,
:before,
:after {
  box-sizing: border-box;
}
a {
  color: #e72870 !important;
}
.wrapper {
  max-width: 700px;
  padding: 0 15px;
  margin: 0 auto;
}
.grid,
.grid--rev,
.grid--full,
.grid-uniform {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -15px;
}
.grid__item {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  vertical-align: top;
  width: 100%;
}
.grid_item_100 {
  width: 100% !important;
  .product--loop {
    display: flex;
    align-items: center;
    border: none;
    margin-bottom: 10px;
    
    .product-img {
      width: 75px;
      height: 70px;
      padding: 5px;
      border-radius: 6px;
      border: 1px solid #c4c4c4;
      img {
        max-width: 60px;
        border-radius: 6px;
      }
    }
    .product-content {
      display: flex;
      align-items: center;
      font-variant: jis04;
      width: 100%;
      justify-content: space-between;
      padding: 0 10px;
      .product-price{
        h3{
          min-height: auto;
          height: 100%;
        }
      }
      .btn_service {
        margin-top: 0;
        padding: 0;
        text-align: center;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  
  .grid__item_50 {
    width: 50%;
  }
  .small--six-twelfths {
    width: 50%;
  }
  .grid__item_50:nth-child(2n + 1) {
    clear: both;
  }
  .grid-uniform .small--six-twelfths:nth-child(2n + 1) {
    clear: both;
  }
}
@media only screen and (min-width: 768px) {
  .grid__item_50 {
    width: 33.33%;
  }
  .small--six-twelfths {
    width: 33.33%;
  }
  .grid__item_50:nth-child(3n + 1) {
    clear: both;
  }
  .grid-uniform .small--six-twelfths:nth-child(3n + 1) {
    clear: both;
  }
}

.grid,
.grid--rev,
.grid--full,
.grid-uniform {
  *zoom: 1;
}
.title_header {
  text-align: center;
  padding: 56px 56px 12px 56px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  h3 {
    font-weight: bold;
    font-size: 17px;
  }
}
.popup_new1{
  max-height: 600px;
  overflow: auto;
}
.card {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12) !important;
  border-radius: 6px;
  padding: 16px 10px;
  position: relative;
}
.icon_card {
  position: absolute;
  right: 10px;
  top: 0;
  width: 22px;
  height: 22px;
  background: #e72870;
  box-shadow: 0px 4px 4px rgba(231, 40, 112, 0.15);
  text-align: center;
  border-radius: 50%;
  i {
    color: #fff;
  }
}
.content_store {
  .btn_ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .city_des {
    font-weight: 300;
    font-size: 13px;
  }
  .title_store {
    border-top: 1px solid #e7e7e7;
    padding-top: 16px;
  }
  .store_name {
    font-weight: 500;
    font-size: 15px;
    margin-top: 6px;
    margin-bottom: 5px;
  }
  .infoLocation {
    font-size: 13px;
  }
}
.snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #fff;
  color: #000;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0px;
  width: 100%;
  font-size: 17px;
  background: #ffffff;
  border-radius: 12px 12px 0px 0px;
}

.snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: -30px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: -30px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
.modal-background {
  background: #4f4f4f;
  opacity: 0.2;
}
.popup_store {
  max-height: 400px;
  overflow: auto;
}
.store_render {
  position: relative;
  border-bottom: 1px solid #e7e7e7;
  padding-top: 10px;
  padding-left: 40px;
  &:last-child {
    border-bottom: none;
  }
  h3 {
    margin-bottom: 5px;
    font-size: 14px;
  }
  span.sp1 {
    color: #9c9c9c;
    font-size: 14px;
  }
  .distance_store span {
    font-size: 14px;
    margin-top: 5px;
  }
}
.store_render1 {
  position: relative;
  padding-top: 16px;
  padding-bottom: 5px;
  span.check {
    border: 1px solid #e0e0e0 !important;
    border-radius: 3px !important;
  }
}
.b-checkbox.checkbox .control-label {
  padding-left: 10px !important;
  font-weight: normal;
  font-size: 15px;
  color: #4f4f4f;
}
.home_service {
  font-size: 13px;
  color: #e72870;
  border: 1px solid #e72870;
  border-radius: 30px;
  padding: 4px 12px;
}
.container1 {
  display: block;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container1 .checkmark {
  position: absolute;
  top: 35%;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 50%;
}
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button {
  i {
    display: none;
  }
  -webkit-appearance: none;
}
/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
  left: 3px;
  top: 3px;
  width: 12px;
  height: 12px;
  line-height: 12px;
  border: solid #e72870;
  background: #e72870;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.search_data {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
  background: #fff;
  border-radius: 8px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  input {
    width: 100%;
    margin-left: 15px;
    background: #fff;
    border: none;
    background: #f7f8f9;
    border-radius: 6px;
    height: 40px;
    padding: 10px;
    outline: none;
    border: 1px solid #eeeeee;
  }
}
.no-data {
  justify-content: center;
  position: relative;
  a {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
.name_new {
  margin-bottom: 16px;
}
.sp_{
  margin: 0 16px;
  span{
    white-space: nowrap;
  }
}
.content_time {
  font-size: 15px;
  display: flex;
  align-items: center;
  .sp3 {
    margin-left: 8px;
    margin-right: 8px;
  }
  .day_time {
    display: flex;
    align-items: center;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 8px;
    .datepicker.control{
      width: 100%;
    }
    .day_title {
      padding-left: 10px;
      white-space: nowrap;
    }
    input {
      border: none;
      box-sizing: border-box;
      border-radius: 8px;
      outline: none;
      box-shadow: none !important;
      -webkit-appearance: none;
      min-width: 320px;
      &:active,
      &:focus {
        border-color: #f2f2f2 !important;
        box-shadow: none;
      }
    }
  }
  .day_content {
    input {
      max-width: 60px;
    }
  }
  input {
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    &:active,
    &:focus {
      border-color: #f2f2f2 !important;
      box-shadow: none;
    }
  }
}
button {
  &:focus {
    outline: none;
  }
}
.content_service {
  .creat_service {
    padding: 14px 0;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    a {
      font-weight: 600;
      font-size: 15px;
    }
  }
  .service_price {
    padding: 16px 0;
    border-bottom: 1px solid #f2f2f2;
    text-align: right;
    span {
      padding-left: 40px;
      font-weight: bold;
      font-size: 15px;
    }
  }
  .btn_service {
    text-align: right;
    margin-top: 6px;
    .btn_add {
      background: #e72870;
      border-radius: 50%;
      border: 1px solid #e72870;
      color: #fff;
      width: 24px;
      height: 24px;
      line-height: 20px;
      &:focus {
        outline: none;
      }
    }
    .btn_remove {
      background: #fff;
      border-radius: 50%;
      border: 1px solid #bdbdbd;
      color: #bdbdbd;
      width: 24px;
      height: 24px;
      line-height: 20px;
      &:focus {
        outline: none;
      }
    }
    span {
      font-size: 13px;
    }
  }
  .search_data {
    input {
      background: #f7f8f9;
      border-radius: 76px;
      &::placeholder {
        color: #4f4f4f;
        opacity: 0.5;
      }
    }
  }
}
.creat_service {
  .modal-background {
    display: none;
  }
  .animation-content {
    padding: 44px 15px;
    padding-bottom: 90px;
  }
}
.modal.is-full-screen > .animation-content {
  background: #fff;
  overflow: auto;


  .modal-close {
    display: none;
  }
}
.modal.is-active {
  &:focus {
    outline: none;
  }
}
.popup_service {
  margin-top: 18px;
}
.product--loop {
  overflow: hidden;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  margin-bottom: 15px;

  .btn_add.active {
    display: none;
  }
  .product-content {
    padding: 15px 7px;
    .product-price{
      h3{
        min-height: 45px;
        height: 100%;
      }
    }
    span.ProductPrice {
      font-weight: 600;
      font-size: 13px;
      color: #e72870;
    }
    span.ComparePrice {
      margin-left: 5px;
      s {
        font-size: 12px;
        font-weight: normal;
        color: #ccc;
      }
    }
  }
}
.address_btn_pickup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #f2f2f2;
  .close_promotion{
    text-align: right;
    display: block;
    padding-right: 10px;
  }
  a {
    font-weight: bold;
    font-size: 15px;

  }
}
.field_new {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
  span {
    margin-right: 10px;
    font-weight: 300;
    font-size: 14px;
  }
  .tag {
    margin-right: 0px;
    border: 1px solid #e72870;
    box-sizing: border-box;
    border-radius: 49px;
    background: #fff;
    color: #e72870 !important;
  }
}
.no-data {
  justify-content: center;
  position: relative;
  h4 {
    font-size: 17px;
    font-weight: bold;
  }
}
.no-data a {
  position: absolute;
  top: 0px;
}
#promotion_modal {
  .snackbar {
    padding: 0;
  }
  .search_data {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 12px 12px 0px 0px;
    padding: 16px;
    input {
      margin-left: 0;
    }
  }
  .promotion_content {
    padding: 10px 20px;
    background: #f7f8f9;
    margin-top: 5px;
    .store_render {
      padding-left: 0px;
      border-bottom: 0;
      background: #fff;
      border-radius: 6px;
      padding-top: 0;
      margin-bottom: 20px;
      h3 {
        margin-bottom: 0;
        font-size: 15px;
        color: #4f4f4f;
      }
      .content_des {
        padding: 23px 16px;
        position: relative;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
        a {
          font-weight: bold;
          font-size: 17px;
        }
        &::after {
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          left: 103px;
          border-radius: 50%;
          top: -6px;
          background: #f7f8f9;
          z-index: 2;
        }
        &::before {
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          left: 103px;
          border-radius: 50%;
          bottom: -9px;
          background: #f7f8f9;
          z-index: 2;
        }
      }
    }
    .checkmark {
      left: 15px;
      top: 45%;
    }
  }
}
#Service {
  .icon {
    padding: 10px 12px;
    display: inline;
    color: #bdbdbd !important;
  }
  .address_btn {
    padding: 16px 0;
    border-bottom: 1px solid #f2f2f2;
    h3 {
      font-weight: bold;
    }
  }
  .note_service {
    padding: 16px 0;
  }
  .field {
    .control {
      width: 100%;
      .icon {
        top: 5px;
      }
    }
    input {
      border: none;
      box-shadow: none;
      outline: 0;
      &:focus {
        border: none;
      }
    }
  }
}
.default {
  font-size: 13px;
  margin-left: 10px;
  background: #e72870;
  color: #fff;
  padding: 7px 12px;
  border-radius: 52px;
}
.title_store {
  font-weight: bold;
}
#payment_modal {
  .store_render {
    position: relative;
    border-bottom: 1px solid #e7e7e7;
    padding-top: 16px;
    padding-bottom: 8px;
    padding-left: 40px;
  }
  .checkmark {
    top: 30%;
  }
}

.add_payMethod {
  margin-top: 5px;
  span {
    font-weight: 300;
    font-size: 15px;
    color: #4f4f4f;
  }
}
.VueCarousel-pagination {
  display: none;
}

.content_staff {
  text-align: center;
  margin-right: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  padding: 16px 5px;
  padding-bottom: 10px;
  background: #fff;
  position: relative;
  width: 90%;
  .staff_available{
    position: absolute;
    left: 0;
    top: 10px;
    background: #F2F2F2;
    border-radius: 0px 25px 25px 0px;
    padding: 2px 8px;
    color: #828282;
    font-weight: bold;
    font-size: 7px;
  }
  .check_active {
    display: none;
  }
  .staff_img {
    position: relative;
    img {
      max-width: 35px;
      height: 35px;
      border-radius: 50%;
    }
    
  }
  span.name_staff {
    font-weight: bold;
    font-size: 10px;
    display: block;
    margin-top: 6px;
  }
}
.content_staff.active {
  border: 1px solid #e72870;
  .check_active {
    display: block;
    position: absolute;
    bottom: -4px;
    right: 0px;
    img {
      border-bottom-right-radius: 6px;
    }
  }
}
#Staff {
  margin-top: 9px;
}
#listaddress {
  .default {
    margin-left: 0;
    background: rgba(231, 40, 112, 0.15);
    border-radius: 45px;
    color: #e72870;
  }
  h3,
  span.sp1 {
    font-weight: 600;
    font-size: 15px;
    color: #4f4f4f;
  }
  .sp2 {
    padding: 0 5px;
    font-weight: normal;
  }
  .store_render.active {
    margin-left: -170px;
    .deleter {
      position: static;
      opacity: 1;
      transition: 0.2s;
      a {
        padding: 40px 20px;
        height: auto;
        transition: 0.2s;
      }
    }
    .btn1_ {
      display: none;
    }
    .btn2_ {
      display: block;
    }
  }
  .store_render {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    margin-left: 0;
    padding-top: 0;
    overflow: hidden;
    .title_adress {
      padding-top: 10px;
    }
    .btn1_ {
      display: block;
    }
    .btn2_ {
      display: none;
    }
    .deleter {
      position: absolute;
      opacity: 0;

      a {
        padding: 0;
        height: 0;
        transition: 0.1s;
      }
    }
    a.a1 {
      background: #e72870;
      color: #fff !important;
      font-weight: 600;
      font-size: 13px;
    }
    a.a2 {
      background: #eb5757;
      color: #fff !important;
      font-weight: 600;
      font-size: 13px;
    }
  }
  .store_render:last-child {
    border-bottom: 1px solid #f2f2f2;
  }
  .add_address {
    margin-top: 14px;
    a.btn_newAddress {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #4f4f4f !important;
      font-size: 15px;
    }
  }
  .modal-background {
    display: none;
  }
  .animation-content {
    padding: 44px 15px;
    padding-bottom: 90px;
  }
  .content_address {
    .search_data {
      margin-bottom: 16px;
    }
    .field {
      display: block;
      margin-bottom: 20px !important;
      input {
        box-sizing: border-box;
        
        border-radius: 8px;
        outline: none;
        box-shadow: none;
        -webkit-appearance: none;
        padding: 20px;
        padding-right: 0;
        &::placeholder {
          font-weight: 300;
          font-size: 15px;
          color: #bdbdbd;
        }
        &:active,
        &:focus {
          border-color: #e72870 !important;
          box-shadow: none;
        }
      }
    }
    .select_city {
      margin-bottom: 20px;
      label {
        display: block;
        margin-bottom: 0.5em;
        font-weight: bold;
        font-size: 15px;
      }
      select {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #f1f1f1;
        border-radius: 8px;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-appearance: none;
        padding: 10px;
        -webkit-appearance: menulist;
        padding-right: 0;
        background: #fff;
      }
    }
  }
}
.update_address {
  .modal-background {
    display: none;
  }
  .animation-content {
    padding: 44px 15px;
    padding-bottom: 90px;
  }
  .field {
    display: block;
    margin-bottom: 20px !important;
    input {
      box-sizing: border-box;
      border: 1px solid #f2f2f2;
      border-radius: 8px;
      outline: none;
      box-shadow: none;
      -webkit-appearance: none;
      padding: 20px;
      padding-right: 0;
      &::placeholder {
        font-weight: 300;
        font-size: 15px;
        color: #bdbdbd;
      }
      &:active,
      &:focus {
        border-color: #f2f2f2 !important;
        box-shadow: none;
      }
    }
  }
  .select_city {
    margin-bottom: 20px;
    label {
      display: block;
      margin-bottom: 0.5em;
      font-weight: bold;
      font-size: 15px;
    }
    select {
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #f1f1f1;
      border-radius: 8px;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-appearance: none;
      padding: 10px;
      -webkit-appearance: menulist;
      background: #fff;
      padding-right: 0;
    }
  }
}
.modal-content{
  overflow: inherit;
}
.delete_address {
  .modal-content {
    padding: 0 15px;
  }
  .search_data {
    padding: 15px;
  }
  .no-data {
    a {
      position: absolute;
      left: 10px;
      top: 10px;
      padding: 0 !important;
    }
  }
  .card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
    h3 {
      font-weight: bold;
      margin-bottom: 20px;
    }
    .a3 {
      padding: 5px 10px;
      background: #e72870;
      border-radius: 10px;
      color: #ffffff !important;
    }
    .a4 {
      padding: 5px 10px;
      background: #f2f2f2;
      border-radius: 10px;
      margin-left: 5px;
    }
  }
}

.content_formation {
  border-top: 1px solid #f2f2f2;
  margin-top: 10px;
  .field {
    display: block;
    padding-top: 10px;
    input {
      box-sizing: border-box;
      border: 1px solid #f2f2f2;
      border-radius: 8px;
      outline: none;
      box-shadow: none;
      -webkit-appearance: none;
      &:active,
      &:focus {
        border-color: #f2f2f2 !important;
        box-shadow: none;
      }
    }
  }
}
.content_formation.shipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    min-width: 270px;
  }
}
.pickup_info {
  padding-bottom: 16px;
  position: relative;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  .infoLocation_pickup {
    font-size: 13px;
    white-space: nowrap;
  }
  h3 {
    font-weight: bold;
    font-size: 15px;
  }
}
.orderreview_popup,.reviewdetail_popup {
  .modal-background {
    display: none;
  }
  .animation-content {
    padding: 44px 15px;
    padding-bottom: 90px;
  }
  .search_data {
    border-bottom: none;
  }
  .content_popup {
    margin-top: 20px;
    padding-bottom: 40px;
    .title_review {
      text-align: center;
      h3 {
        font-weight: normal;
        font-size: 15px;
      }
    }
    .content_review {
      margin-top: 10px;
      text-align: center;
      span {
        display: block;
        font-weight: 600;
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 22px;
      }
      img {
        border-radius: 50%;
      }

      .Rate {
        .icon {
          width: 30px;
          height: 30px;
        }
      }
    }
    .review_tag {
      color: #e72870;
      font-size: 15px;
      margin-top: 10px;
    }
    .des_review {
      margin-top: 22px;
      textarea {
        padding: 10px;
        height: 200px;
        border: 1px solid #f2f2f2;
        border-radius: 6px;
        width: 100%;
        &::placeholder {
          color: #4f4f4f;
          opacity: 0.6;
        }
        &:focus {
          outline: 0;
        }
      }
    }
  }
  .suggestions_reivew {
    margin-top: 10px;
    a.active {
      background: #e72870;
      border-radius: 40px;
      color: #fff !important;
      padding: 7px 20px;
    }
    a {
      border-radius: 40px;
      border: 1px solid #f2f2f2;
      color: #4f4f4f !important;
      padding: 7px 20px;
      margin-right: 10px;
      display: inline-block;
      margin-bottom: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.orderdetail_popup {
  .content_popup {
    padding: 0 15px;
  }
  .animation-content {
    padding-bottom: 90px;
  }
  .modal-background {
    background: #e5e5e5;
  }
  .card {
    margin-top: 20px;
    padding: 10px;
    .code_order {
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      padding-bottom: 14px;
      margin-bottom: 14px;
      border-bottom: 1px solid #f2f2f2;
    }

    .items_order {
      border-bottom: 1px solid #f2f2f2;
      .items_content {
        display: flex;
        align-items: center;
        padding: 16px 0;
        border-bottom: 1px solid #f2f2f2;
        .items_img {
          img {
            max-width: 60px;
          }
        }
        .items_info {
          font-size: 13px;
          margin-left: 10px;
          h3 {
            margin-bottom: 3px;
            font-size: 13px;
          }
          span {
            font-weight: 300;
            font-size: 11px;
          }
          .items_price {
            font-size: 13px;

            span {
              display: inline-block;
            }
            .product_price {
              font-weight: bold;
              color: #e72870;
            }
            .product_compareAtPrice {
              margin-left: 7px;
              font-size: 11px;
              s {
                opacity: 0.6;
              }
            }
          }
        }
      }
    }
    .total_price {
      text-align: right;
      margin-top: 16px;
    }
    .store_order {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 14px;
      border-bottom: 1px solid #f2f2f2;
    }
    .staff_order {
      margin-top: 10px;
      .staff_img {
        display: flex;
        align-items: center;
        img {
          max-width: 27px;
          border-radius: 50%;
        }
        span {
          margin-left: 10px;
        }
      }
    }
    .time_order {
      margin-top: 14px;
      padding-bottom: 14px;
      border-bottom: 1px solid #f2f2f2;
    }
    .time_date1 {
      display: flex;
      align-items: center;
      .date {
        padding: 10px 25px;
        font-size: 15px;
        letter-spacing: 0.05em;
        border: 1px solid #eeeeee;
        border-radius: 8px;
      }
      .time {
        display: flex;
        align-items: center;
        span {
          margin-right: 8px;
          margin-left: 8px;
        }
        .time_ {
          border: 1px solid #eeeeee;
          border-radius: 8px;
          padding: 9px 15px;
        }
      }
    }
    .title_store {
      margin-bottom: 7px;
      h3 {
        font-weight: bold;
      }
    }
  }
  .search_data.no-data {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    a {
      position: absolute;
      left: 15px;
      top: 20px;
    }
  }
}
.listorder_popup {
  .search_data.no-data {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    a {
      position: absolute;
      left: 15px;
      top: 20px;
    }
  }
  .content {
    padding: 0 15px;
  }
  .modal-background {
    background: #e5e5e5;
  }
  .card {
    margin-top: 20px;
    padding: 10px;
    .code_order {
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      margin-bottom: 5px;
    }
    .time_order {
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #4f4f4f;
      font-weight: normal;
      .time_ {
        font-weight: 300;
      }
    }
    .items_order {
      padding: 16px 0;
      border-top: 1px solid #f2f2f2;
      border-bottom: 1px solid #f2f2f2;
      margin-top: 16px;
      .items_content {
        display: flex;
        align-items: center;
        .items_img {
          img {
            max-width: 60px;
          }
        }
        .items_info {
          font-size: 13px;
          margin-left: 10px;
          h3 {
            margin-bottom: 5px;
            font-size: 13px;
          }
          .items_price {
            font-size: 13px;

            span {
              display: inline-block;
            }
            .product_price {
              font-weight: bold;
              color: #e72870;
            }
            .product_compareAtPrice {
              margin-left: 7px;
              font-size: 11px;
              s {
                opacity: 0.6;
              }
            }
          }
        }
      }
    }
    .branch_order {
      margin-top: 10px;
      font-size: 13px;
      span {
        font-weight: bold;
        p {
          font-weight: normal;
          display: inline-block;
        }
      }
    }
    .staff_order {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
      .staff_img {
        display: flex;
        align-items: center;
        img {
          max-width: 27px;
          border-radius: 50%;
        }
        span {
          margin-left: 10px;
        }
      }
      .staff_review {
        a {
          padding: 5px 20px;
          font-weight: bold;
          font-size: 15px;
          background: #e72870;
          border-radius: 34px;
          color: #fff !important;
        }
      }
      .staff_review_rate {
        font-weight: 300;
        
        
        opacity: 0.6;
        a{
          font-size: 13px;
          color: #4f4f4f !important;
        }
      }
    }
  }
}
.order_popup {
  .animation-content {
    padding: 44px 26px;
    padding-bottom: 90px;
  }
  .detail_order {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #f2f2f2;
    .title_top {
      text-align: center;
      margin-bottom: 15px;
      h3 {
        font-weight: bold;
        font-size: 19px;
      }
    }
    .content_customer {
      p {
        display: inline-block;
      }
      h3 {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 12px;
        span {
          font-weight: normal;
          margin-bottom: 0;
          display: inline-block;
        }
      }
      span {
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 15px;
        display: block;
        p {
          font-weight: normal;
        }
      }
    }
  }
  .modal-background {
    display: none;
  }
  .search_data {
    border-bottom: 0;
  }
  .img_checkorder {
    text-align: center;
    margin-top: 40px;
    img {
      margin-bottom: 20px;
    }
    h3 {
      font-weight: bold;
      font-size: 21px;
      margin-bottom: 10px;
    }
    p {
      font-weight: normal;
      font-size: 15px;
      margin-bottom: 10px;
    }
    span {
      font-weight: 600;
      font-size: 15px;
    }
  }
  .all_product {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .order_img {
    img {
      max-width: 60px;
    }
  }
}
.disibale_pickup {
  position: fixed;
  background: #e72870;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
  border-radius: 40px;
  right: 0;
  bottom: 30px;
  left: 0;
  z-index: 10;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 10px 0;
  a {
    opacity: 0.5;
    color: #fff !important;
  }
}
.animation-content {
  background: #fff !important;
}
.content_add {
  .modal-background {
    display: none;
  }
  .content_address {
    padding: 0 15px;
    overflow: auto;
    .search_data {
      margin-bottom: 16px;
    }
    .field {
      display: block;
      margin-bottom: 20px !important;
      input {
        box-sizing: border-box;
        border: 1px solid #f2f2f2;
        border-radius: 8px;
        outline: none;
        box-shadow: none;
        -webkit-appearance: none;
        padding: 20px;
        padding-right: 0;
        &::placeholder {
          font-weight: 300;
          font-size: 15px;
          color: #bdbdbd;
        }
        &:active,
        &:focus {
          border-color: #e72870 !important;
          transition: .4s;
          box-shadow: none;
        }
      }
    }
    .select_city {
      margin-bottom: 20px;
      label {
        display: block;
        margin-bottom: 0.5em;
        font-weight: bold;
        font-size: 15px;
      }
      select {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #f1f1f1;
        border-radius: 8px;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-appearance: none;
        padding: 10px;
        -webkit-appearance: menulist;
        padding-right: 0;
        background: #fff;
      }
    }
  }
}
.total_price {
  text-align: right;
  span {
    color: #e72870;
    font-weight: bold;
  }
}
.add_service_home {
  margin-top: 10px;
  padding-bottom: 16px;
  button {
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 61px;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    background: #fff;
    letter-spacing: 0.05em;
    padding: 8px 0;
    color: #4f4f4f;
  }
}
.order_product {
  display: flex;
  align-items: center;
  padding: 14px 0;
  border-bottom: 1px solid #f2f2f2;
  span {
    display: block;
  }
  .order_des {
    h3 {
      font-weight: bold;
      font-size: 13px;
    }
    .product_title {
      font-size: 11px;
      font-weight: 300;
    }
    .content_price {
      span {
        display: inline-block;
      }
      .product_price {
        color: #e72870;
        font-weight: normal;
        font-size: 13px;
      }
      .product_compareAtPrice {
        margin-left: 7px;
        s {
          font-size: 11px;
          color: #9c9c9c;
        }
      }
    }
  }
}
.order_popup {

  .card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
    h3 {
      font-weight: bold;
    }
  }
  .total_price {
    margin-top: 30px;
    span {
      color: #000;
    }
  }
}
.bottom_check {
  margin-top: 23px;
  .b-checkbox.checkbox {
    align-items: end;
  }
}
.bottom_fixed {
  position: fixed !important;
  background: #e72870;
  background-color: #e72870 !important;
  border-radius: 0;
  right: 0;
  bottom: 0;
  color: #fff !important;
  width: 100%;
  left: 0;
  z-index: 10;
}
.bottom_fixed_1 {
  position: fixed;
  background: #e72870;
  background-color: #e72870 !important;
  border-radius: 0;
  right: 0;
  bottom: 0;
  color: #fff !important;
  width: 100%;
  left: 0;
  z-index: 10;
  padding: 16px 10px;
  a {
    color: #fff !important;
  }
}
.bottom_fixed_4 {
  position: fixed;
  background: #e72870;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
  border-radius: 40px;
  right: 0;
  bottom: 30px;
  left: 0;
  z-index: 10;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 10px 0;
  a {
    color: #fff !important;
  }
}
.bottom_fixed_4.detail_rivew{
  background: #fff;
  a{
    color: #4f4f4f !important;
  }
}
#detailproduct_modal {
  .modal-background {
    display: block;
  }
  .bottom_fixed_2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    a {
      width: 100%;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
      border-radius: 40px;
      padding: 10px 30px;
      background: #e72870;
      text-align: center;
      color: #ffffff !important;
    }
    a.a2 {
      background: #fff;
      color: #e72870 !important;
    }
  }
  .search_data {
    border-bottom: none;
    display: block;
    margin-bottom: 20px;
  }
  .detail_product {
    display: flex;
    align-items: center;
    .product__img {
      overflow: hidden;
      img {
        border-radius: 6px;
        width: 100%;
        max-width: 102px;
      }
    }
  }
  .variant_product {
    label {
      float: left;
      border-radius: 6px;
      padding: 12px 10px;
      margin: 0;
      text-align: center;
      white-space: nowrap;
      font-size: 12px;
      border: 1px solid #f2f2f2;
      cursor: pointer;
      position: relative;
      color: #4f4f4f !important;
    }
  }
  .title_prd {
    margin-bottom: 10px;
    h3 {
      font-size: 17px;
      font-weight: bold;
      color: #4f4f4f;
    }
  }
  .price_prd {
    margin-bottom: 13px;
    span {
      display: inline-block;
    }
    .price_new {
      font-size: 17px;
      color: #e72870;
      font-weight: bold;
    }
    .compare_price {
      margin-left: 7px;
      s {
        color: #828282;
        font-weight: normal;
        font-size: 14px;
        opacity: 0.6;
      }
    }
    .sale {
      margin-left: 7px;
      padding: 2px 8px;
      background: #e72870;
      border-radius: 34px;
      font-size: 13px;
      color: #fff;
    }
  }
  .variant_1 {
    margin-right: 12px;
  }
  .variant_1.active {
    .img-check {
      display: block;
    }
    label {
      border: 1px solid #e4393c;
    }
  }
  .des_product {
    position: relative;
    .icon_card {
      background: transparent;
      color: #4f4f4f !important;
      box-shadow: none;
      border-radius: 0;
      i {
        color: #4f4f4f !important;
      }
    }
    .modal-background {
      display: none;
    }
    .animation-content {
      padding: 44px 15px;
      padding-bottom: 90px;
    }
    .search_data {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-bottom: 15px;
      border-bottom: 1px solid #f2f2f2;
      background: #fff;
      border-radius: 8px;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
}
.btn_checkout_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
  button {
    font-weight: bold;
    font-size: 17px;
    background: transparent;
    border: none;
    color: #fff;
  }
  .disibale {
    opacity: 0.5;
  }
  .total_price {
    color: #fff;
    font-weight: 600;
    font-size: 17px;
  }
  .quantity_bottom {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px;

    span {
      color: #fff;
      padding: 12px;
    }
  }
}
.product-item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  position: relative;
  .delete_service {
    position: absolute;
    right: 0;
  }
  .product-img {
    max-width: 60px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.content_product {
  padding: 16px 0;
  margin-top: 16px;
  border-top: 1px solid #f2f2f2;
  .name_service {
    margin-left: 10px;
    .product-name {
      font-weight: bold;
      font-size: 13px;
    }
  }
  .price-product {
    .price_ {
      font-size: 13px;
      font-weight: bold;
      color: #e72870;
    }
    .compareAtPrice_ {
      margin-left: 6px;
      font-weight: normal;
      s {
        color: #4f4f4f;
        opacity: 0.6;
        font-size: 12px;
      }
    }
  }
}
.product--item {
  .animation-content {
    position: relative;
  }
  .modal-background {
    display: none;
  }
  .animation-content {
    padding: 44px 15px;
    padding-bottom: 90px;
  }
  .detail_product {
    .product__img {
      overflow: hidden;
      img {
        border-radius: 8px;
        width: 100%;
      }
    }

    .carousel .carousel-indicator.is-inside.is-bottom {
      bottom: 15px;
      a.indicator-item {
        span {
          background-color: #fff !important;
          opacity: 0.6;
        }
        &.is-active {
          span {
            opacity: 1;
          }
        }
      }
    }
  }
  .variant_product {
    img {
      max-width: 35px;
      max-height: 100%;
    }
    label {
      float: left;
      min-width: 35px !important;
      height: 35px !important;
      margin: 0;
      text-align: center;
      line-height: 35px;
      white-space: nowrap;
      font-size: 12px;
      border: 1px solid #ccc;
      cursor: pointer;
      position: relative;
      .img-check {
        display: none;
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 14px;
        max-height: 14px;
      }
    }
    .title_prd {
      margin-top: 20px;
      margin-bottom: 10px;
      h3 {
        font-size: 21px;
        font-weight: bold;
        color: #4f4f4f;
      }
    }
    .price_prd {
      margin-bottom: 16px;
      span {
        display: inline-block;
      }
      .price_new {
        font-size: 17px;
        color: #e72870;
        font-weight: bold;
      }
      .compare_price {
        margin-left: 7px;
        s {
          color: #828282;
          font-weight: normal;
          font-size: 14px;
        }
      }
      .sale {
        margin-left: 7px;
        padding: 2px 8px;
        background: #e72870;
        border-radius: 34px;
        font-size: 13px;
        color: #fff;
      }
    }
  }
  .variant_1 {
    margin-right: 5px;
  }
  .variant_1.active {
    .img-check {
      display: block;
    }
    label {
      border: 1px solid #e4393c;
    }
  }

  .bottom_fixed_2 {
    position: fixed;
    bottom: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    a {
      width: 47%;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
      border-radius: 40px;
      padding: 10px 30px;
      background: #fff;
      text-align: center;
    }
    a.a2 {
      background: #e72870;
      color: #ffffff !important;
    }
  }
}
.StepProgress {
  position: relative;
  padding-left: 50px;
  list-style: none;
  font-weight: normal;
  font-size: 15px;
  &::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 10px;
    height: 90%;
    border-left: 1px solid #e72870;
  }

  &-item {
    position: relative;
    counter-increment: list;
    &:last-child {
      &::before {
        display: none;
      }
    }
    &:not(:last-child) {
      padding-bottom: 20px;
    }

    &::before {
      display: inline-block;
      content: "";
      position: absolute;
      left: -45px;
      height: 100%;
      width: 10px;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 5px;
      left: -49px;
      width: 9px;
      height: 8px;
      border: 1px solid #e72870;
      border-radius: 50%;
      background-color: #fff;
    }

    &.is_done {
      &::before {
        border-left: 1px solid #e72870;
      }
      &::after {
        content: "✔";
        font-size: 8px;
        color: #fff;
        text-align: center;
        border: 1px solid #e72870;
        background-color: #e72870;
        width: 13px;
        height: 12px;
        left: -50px;
        top: 0;
      }
    }

    &.current {
      &::before {
        border-left: 1px solid #e72870;
      }

      &::after {
        content: "";
        padding-top: 1px;
        width: 9px;
        height: 9px;
        top: 0px;
        left: -49px;
        font-size: 9px;
        text-align: center;
        color: #e72870;
        border: 1px solid #e72870;
        background-color: #e72870;
      }
    }
  }

  span {
    display: block;
    font-size: 15px;
    font-weight: normal;
  }
  p {
    font-size: 14px;
    font-weight: 300;
  }
}
ul {
  list-style-type: none;
}
.StepProgress-item{
  display: block;
}
.content_popup{
  max-height: 600px;
  overflow: auto;
}
@media only screen and (min-width: 768px) {
  .modal.is-full-screen > .animation-content {
    max-height: 80vh;
  }
  .modal-background{
    display: block !important;
  }
  #listaddress .store_render.active {
    margin-left: -70px;
  }
  .delete_address,.update_address{
    .modal{
      z-index: 99 !important;
    }
  }
  .animation-content{
    max-width: 600px !important;
    border-radius:12px ;
  }
  .add_address{
    .animation-content{
      max-height: 750px !important;
    }
  }
  .update_address{
    .animation-content{
      max-height: 750px !important;
    }
  }
  .order_popup {
    .modal-content{
      padding: 25px 26px;
    }
  }
  .listorder_popup{
    .modal-background {
      background: #4f4f4f;
    }
  }
  .modal-close{
    display: none;
  }
  .bottom_fixed_1{
    position: static !important;
    display: inline-block;
    padding: 10px 10px !important;
  }
  .bottom_fixed_4{
    position: static !important;
    display: inline-block;
    padding: 10px 10px !important;
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }
  .disibale_pickup{
    position: static !important;
    display: inline-block;
    padding: 10px 10px !important;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .snackbar{
    max-width: 600px;
    margin: 0 auto;
  }
  .content_formation.shipping {
    input{
      min-width: 400px;
    }
  }
}
.cancell_order{
  span{
    padding: 5px 20px;
    border: 1px solid #e72870;
    color: #e72870 !important;
    border-radius:20px ;
    display: inline-block;
  }
  p{
    margin-top: 5px;
  }
}
.mobile_clock{
  display: none;
}
@media only screen and (max-width: 768px) {
  .mobile_clock{
    display: block;
  }
  .desktop_clock{
    display: none;
  }
  .content_time{
    display: block;
    .day_time{
      input{
        min-width: auto;
      }
    }
    .sp_{
      margin: 0;
      padding: 16px 0;
    }
  }
}
.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected {
  background-color: #e72870 !important;
  color: white !important;
}
